body{
    background-color: aqua;
    margin: 0%;
}

.circle-yellow{
    height: 100vh;
    width: 100vh;
    background-color: yellow;
    border-radius: 50%;
    margin:auto;
}


@media screen and (max-width:800px){

}